{% extends 'rango/base.html' %}
{% load staticfiles %}

{% block title_block %}
	{% if category %}
		{{ category.name }}
	{% else %}
		Unknown Category
	{% endif %}
{% endblock %}

{% block body_block %}
	<div>
		{% block sidebar_block %}
			{% get_category_list %}
		{% endblock %}
	</div>
	{% if category %}
	<h1>{{ category.name }}</h1>
	{% if pages %}
	<ul>
		{% for page in pages %}
		<li><a href="{{ page.url }}">{{ page.title }}</a></li>
		{% endfor %}
	</ul>
	
	<ul>
	{% if categories %}
		{% for c in categories %}
			<li><a href="{% url 'rango:show_category' c.slug %}">{{ c.name }}</a></li>
		{% endfor %}
	{% else %}
		<li><strong>There are no categories present.</strong></li>
	{% endif %}
	</ul>
	{% else %}
	<strong>No pages currently in category.</strong>
	{% endif %}

	<a href="{% url 'rango:add_page' category.slug %}">Add Page</a> <br />
	{% else %}
	The specified category does not exist.
	{% endif %}
{% endblock %}